<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="simple_robot">

    <xacro:property name="wheel_radius" value="0.075" />
    <xacro:property name="wheel_length" value="0.025" />
    <xacro:property name="chassis_length" value="0.5" />
    <xacro:property name="chassis_width" value="0.5" />
    <xacro:property name="chassis_height" value="0.25" />
    <xacro:property name="chassis_mass" value="2.0" />
    <xacro:property name="wheel_mass" value="0.5" />

    <xacro:property name="M_PI" value="3.14159265359"/>
    <xacro:property name="DEG_TO_RAD" value="${M_PI / 180.0}"/>

    <material name="blue">
        <color rgba="0 0 0.8 1"/>
    </material>

    <material name="grey">
        <color rgba="0.5 0.5 0.5 1"/>
    </material>

    <material name="black">
        <color rgba="0 0 0 0"/>
    </material>

    <xacro:macro name="box_inertia" params="m l w h">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="${m}"/>
            <inertia ixx="${(m/12) * (h*h + l*l)}" ixy="0.0" ixz="0.0"
                     iyy="${(m/12) * (w*w + l*l)}" iyz="0.0"
                     izz="${(m/12) * (w*w + h*h)}"/>
        </inertial>
    </xacro:macro>


    <xacro:macro name="cylinder_inertia" params="m r h">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="${m}"/>
            <inertia ixx="${(m/12) * (3*r*r + h*h)}" ixy="0" ixz="0"
                     iyy="${(m/12) * (3*r*r + h*h)}" iyz="0"
                     izz="${(m/2) * (r*r)}"/>
        </inertial>
    </xacro:macro>

    <xacro:macro name="sphere_inertia" params="m r">
        <inertial>
            <mass value="${m}"/>
            <inertia ixx="${(2/5) * m * (r*r)}" ixy="0.0" ixz="0.0"
                     iyy="${(2/5) * m * (r*r)}" iyz="0.0"
                     izz="${(2/5) * m * (r*r)}"/>
        </inertial>
    </xacro:macro>

</robot>